*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Walter Turncoat', cursive;
  background-color: #0027349e;

}
.pageContainer{
  max-width: 800px;
  margin: 0 auto;

}
.pageContainer h1{
  margin-top: 5%;
  text-align: center;
  color: #ffe77aff;
  display: flex;
    justify-content: center;
}
#inputBox{
  text-align-last:center;
  margin-top:2%;
}
.pageContainer #value{
  background-color: #ffe77aff;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 460px;
}

.pageContainer #add{
  background-color: #ffe77aff;
  padding:10px 30px;
  border-radius: 15px;
  color: #002734;
  font-weight: bold;
  font-size: 15px;
}
.pageContainer .listArea{
  width: 600px;
  height: 500px;
  background-color: #002734;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
}
li{
  color: white;
  list-style: none;
  font-size: 25px;
}
